.sect1 {
  height: 90vh;
  position: relative;
  background-color: darkblue;
}

.sect1 .top {
  height: 25%;
  background-color: black;
}

.sect1 .bottom {
  height: 75%;
  background-color: white;
}

.cards {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.cardspart {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  padding: 30px 0;
}

.card {
  height: 100%;
  background-color: rgb(60, 60, 60);
  position: relative;
  overflow: hidden;
}

.card .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: 0.4s;
}

.card:hover .img {
  transition: 0.4s;
  transform: scale(1.01);
}

.logo {
  position: absolute;
  width: 150px;
  z-index: 2;
  top: 20px;
  left: 20px;
}

.text {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 20px 15px;
  color: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), black);
  width: 100%;
  left: 0;
}

.text p:nth-child(1) {
  font-size: 30px;
  margin-bottom: 15px;
  transition: 0.4s;
}

.text p:nth-child(2) {
  font-size: 17px;
  transition: 0.5s;
  color: grey;
  display: flex;
  align-items: center;
  .icons {
    color: red;
    font-size: 20px;
    margin-right: 10px;
  }
}

.card:hover .text p:nth-child(1) {
  transform: translateX(10px);
  transition: 0.4s;
}

.card:hover .text p:nth-child(2) {
  transform: translateX(10px);
  transition: 0.5s;
}

@media (max-width: 1000px) and (min-width: 851px) {
  .sect1 {
    height: 80vh !important;
    position: relative;
    .text p:nth-child(1) {
      font-size: 28px;
      margin-bottom: 15px;
      transition: 0.4s;
    }

    .text p:nth-child(2) {
      font-size: 15px;
      transition: 0.5s;
    }
  }
}

@media (max-width: 850px) and (min-width: 651px) {
  .sect1 {
    height: 70vh !important;
    position: relative;
    .text p:nth-child(1) {
      font-size: 25px;
      margin-bottom: 15px;
      transition: 0.4s;
    }

    .text p:nth-child(2) {
      font-size: 13px;
      transition: 0.5s;
    }
  }
}

@media (max-width: 650px) and (min-width: 601px) {
  .sect1 {
    height: 60vh !important;
    position: relative;
    .logo {
      width: 70px;
    }
    .text p:nth-child(1) {
      font-size: 23px;
      margin-bottom: 15px;
      transition: 0.4s;
    }

    .text p:nth-child(2) {
      font-size: 12px;
      transition: 0.5s;
    }
  }
}
@media (max-width: 600px) and (min-width: 251px) {
  .sect1 {
    background-color: rgb(255, 255, 255) !important;
    height: 300vh !important;
    position: relative;
    padding: 30px 0;

    .cardspart {
      grid-template-columns: repeat(1, 1fr);
      height: auto;
      .card {
        height: 90vh;
      }
    }
    .logo {
      width: 140px;
    }
    .text p:nth-child(1) {
      font-size: 27px;
      margin-bottom: 15px;
      transition: 0.4s;
    }

    .text p:nth-child(2) {
      font-size: 15px;
      transition: 0.5s;
    }
  }
}
