.videomain {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.892);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .times {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    right: 0px;
    border: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    cursor: pointer;
    &:active {
      background-color: rgb(24, 22, 22);
    }
    &:hover {
      background-color: rgb(10, 10, 10);
    }
  }
  .content {
    width: 60%;
    height: 70%;
    background-color: black;
    border: 1px solid rgb(151, 151, 151);
    .fullvideo {
      width: 100%;
      height: 100%;
    }
  }
}
