@use "../../styles/variables.module.scss" as *;

.navbar {
  font-family: $fontf;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: $blackcol;
  z-index: 1;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1300px;
}
.btn1no {
  display: none !important;
}
.nav {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  .btn {
    background-color: black !important;

    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    // display: none;
    .btnicons {
      font-size: 25px;
      color: white !important;
    }
    &:hover {
      background-color: rgb(32, 32, 32) !important;
    }
  }
}

.nav li {
  margin: 0 14px;
  padding: 3px 0;
  position: relative;
  overflow: hidden;
  user-select: none;
}
.nav li a {
  text-transform: capitalize;
  color: $whitecol !important;
}
.nav li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: -100%;
  bottom: 0;
  background-color: $whitecol;
  transition: 0.5s;
}
.nav li:hover::after {
  left: 0;
  transition: 0.5s;
}

.nav .start a {
  background-color: $blackcol;
  color: $whitecol;
  padding: 10px 20px;
  margin-left: 10px;
  border: 1px solid $whitecol;
}

.btn1 {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 45px;
  height: 45px;
  display: flex;
  display: none;
  background-color: rgb(24, 24, 24);
  align-items: center;
  justify-content: center;
  .btnicons1 {
    font-size: 30px;
    color: white !important;
  }
  &:hover {
    background-color: rgb(32, 32, 32) !important;
  }
}

@media (max-width: 1100px) and (min-width: 601px) {
  .navbar {
    .menus {
      background-color: red;
      position: absolute;
      width: 100vw;
      height: 87vh;
      top: 13vh;
      transition: 0.5s;
      left: -100%;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 30px;

      .btn {
        position: absolute;
        right: 30px;
        margin: 15px 0;
        background-color: $whitecol;
        .btnicons {
          transform: rotate(180deg);
          color: $whitecol !important;
          font-size: 30px;
          transition: 0.5s;
        }
      }

      li {
        // background-color: rebeccapurple;
        margin: 10px 0;
        a {
          font-size: 25px;
        }
      }
      .start {
        margin: 20px 0;
        a {
          margin: 0 !important;
          font-size: 25px;
        }
      }
    }
    .activenavs.menus {
      left: 0% !important;
      transition: 0.5s;
    }
  }
  .btn1 {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 45px;
    align-items: center !important;
  }
}

@media (max-width: 600px) and (min-width: 200px) {
  .navbar {
    position: relative;
    .logo img {
      width: 150px !important;
    }
    .menus {
      position: absolute;
      width: 100vw;
      height: 87vh;
      top: 13vh;
      transition: 0.5s;
      left: -100%;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 30px;
      background-color: $blackcol;

      .btn {
        position: absolute;
        right: 30px;
        top: 0 !important;
        margin: 15px 0;
        .btnicons {
          transform: rotate(180deg);
          color: $whitecol !important;

          transition: 0.5s;
        }
      }

      li {
        // background-color: rebeccapurple;
        margin: 10px 0;
        a {
          font-size: 15px;
        }
      }
      .start {
        margin: 20px 0;
        a {
          margin: 0 !important;
          font-size: 20px;
          user-select: none;
        }
      }
    }
    .activenavs {
      left: 0% !important;
      transition: 0.5s;
      padding: 20px 30px !important;
      margin: 0 !important;
    }
  }
  .btn1 {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 45px;
    align-items: center !important;
  }
}
